@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  background-color: #fff;
  color: #4a4a4a;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
  &:hover {
    color: $brand-secondary;
    text-decoration: none;
  }
}

.active {
  color: $brand-secondary;
}
