.section {
  height: 800px;
  width: 100%;
  margin: 0 auto;
}

.subsection {
  height: 250px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: $light-grey;
  color: $black;
}

.youtube-section {
  background-color: $youtube;
  color: $white;
  h3 {
    margin: 0;
    padding: 0;
  }
}

.medium-section {
  background-color: $medium;
  color: $white;

  h3 {
    margin: 0;
    padding: 0;
  }
}

.anchor-section {
  background-color: $anchor;
  color: $white;
  h3 {
    margin: 0;
    padding: 0;
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100%;

  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  .card {
    display: inline-block;
    margin-right: 24px;
  }
}
