// Brand Colors
$brand-primary: #002366;
$brand-secondary: #66c6ff;

// Basic Colors
$white: #fff;
$black: #000;
$light-grey: lighten(#eee, 5);
$dark-grey: darken(#000, 25);

// Social Colors
$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #3b5998;
$anchor: #8940fa;
$medium: #00ab6c;
$youtube: #ff0000;
$github: #333;

// Font
$primary-font: 'Roboto', sans-serif;
