input {
  border: 1px solid #aaa;
  padding: 6px;
  outline: none;
  margin: 16px;
  width: 100%;
  &:focus {
    outline: none;
  }
}

textarea {
  border: 1px solid #aaa;
  padding: 6px;
  outline: none;
  margin: 16px;
  width: 100%;
  &:focus {
    outline: none;
  }
}
