footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
}

.footer {
  height: 120px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid #eee;
  padding: 1em;
  width: 100%;
  // position: relative;
  a {
    color: black;
  }
}
